* {

background: #282828;
backgroundTrans: #28282880;
foreground: #EBDBB2;
primary: #458588;
Trans: #12121200;

red: #CC241D;

bordersWidth: 2px;
bordersRadius: 8px;
font: '0xProto Nerd Font Mono 12';
padding: 1 4;

}
