* {

background: #1E1E2E;
backgroundTrans: #1E1E2E80;
foreground: #CDD6F4;
primary: #CBA6F780;
Trans: #00000000;

red: #F38BA8;

bordersWidth: 2px;
bordersRadius: 8px;
font: '0xProtoM Nerd Font Mono 12';
padding: 1 4;

}
